body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header */
.header {
  height: 230px;    
  padding: 20px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two  columns that floats next to each other */
/* Left column */
.leftcolumn {
  margin-left: 15%;
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
    
  
  float: right;
  width: 25%;
  padding-left: 20px;
  padding-right: 30px;
}

.myimg{
    
  display: block;
  background-color: rosybrown;
  margin-left: auto;
  margin-right: auto; 
  width: 70%;
  padding: 0px;
}
.myimg img{
   
    border-radius: 50%;
    width: 100%;
    padding: 0px;
    height: 100%;
}
/* images before updating */
.fakeimg {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: linear-gradient(to right, #7f00ff, #e100ff);
  width: 95%;
  padding: 10px;
}

.fakeimg img{
    width: 100%;
    padding: 0px;
    height: 100%;
}
.cardright{
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.btn{
    color: white;
    height: 30px;
    border-radius: 20px;
    background-color: #2f8be0;
}


/* Add a card effect */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

hr{
  display: block;
    height: 1px;
    border: 0;;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

/* Clear floats  columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.notede{
    color: black;
    text-decoration: none;
}

.notede:hover{
    color: red;
    text-decoration: underline;
}

/* Responsive layout  */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}